<%- layout('/layouts/boilerplate') %>
    <div class="d-flex flex-column flex-wrap">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">06/11/2021</div>
            <div class="card-body">
                <h5 class="card-title">Operation-Room session surgery bookkeeping</h5>
                <p class="card-text"><a href="/users/register">Register to use</a></p>
            </div>
        </div>
    </div>